<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chtface</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/build/dev/js/app.bundle.js"></script>
    <script src="/build/dev/js/vendor.bundle.js"></script>
  </body>
</html>